body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #e2d5c794;
}
button {
    padding: 0.5em 1em;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    height: 100vh;
}
.ctrls {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto auto auto 1fr;
    align-items: center;
}
#chartdiv1,
#chartdiv2 {
    width: 100%;
    height: 100%;
}

.neg-val {
    color: red
}

#dInfo {
    background: rgba(255, 255, 128, 0.2);
    padding: 10px;
    border: 2px solid rgba(128, 128, 0, 0.5);
}
